# Github Action to create a release
name: Create Release

on:
  push:
    branches:
      - 'main'
    paths:
      - version.txt

jobs:
  release:
    if: ${{ github.repository == 'aws/eks-pod-identity-agent' }}
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Tag release
        run: |
          /usr/bin/git config --global user.email actions@github.com
          /usr/bin/git config --global user.name 'GitHub Actions Release Tagger'
          hack/tag-release.sh
